.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__button {
  cursor: pointer;
  outline: 0;

  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.app__button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.app__photo {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  object-fit: cover;
}
